OPENARC_IMAGE=openarc:latest
OLLAMA_FACADE_IMAGE=ghcr.io/voxibanez/openarc-ollama-wrapper:latest
OPENARC_API_KEY=openarc-default-key
MODEL_PATH=./models
MAX_LOADED_MODELS=1
DEFAULT_KEEP_ALIVE=60s
OPENARC_DEFAULT_DEVICE=GPU.0
